# Python Loop Statements

In Python, loops are used to execute a block of code repeatedly. There are two types of loops in Python: for loops and while loops.

## 1. Python For Loop

The `for` loop is used in Python to iterate over a sequence of values, such as a list, tuple, string, or range. The basic syntax of a `for` loop is as follows:

Syntax:
```python
for item in items:
    do somethings
```

The `item` is a new variable that is created with each iteration of the loop, and takes on the value of the next element in the `items`. The code block that follows the `for` statement is executed for each value in the `items`.

Here's an example of how to use the `for` loop to iterate over a list:

In [4]:
fruits = ['apple','banana','cherry']

for each in fruits:
    print(each)

print("completed")

apple
banana
cherry
completed

The `range` function is commonly used in `for` loops to generate a sequence of integers. Here's an example:

In [5]:
list(range(0,5,2))

[0, 2, 4]

In [6]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
# *
# **
# ***
# ****
# *****

for i in range(1,6):
    print("x"*i)

x
xx
xxx
xxxx
xxxxx

`Nested for` loops can also be used to iterate over multiple sequences. Here's an example:

In [2]:
adjective = ['red','big','tasty']
fruits = ['apple','banana','cherry','mango']

In [4]:
for adj in adjective:

    for fruit in fruits:

        print(adj, fruit)

red apple
red banana
red cherry
red mango
big apple
big banana
big cherry
big mango
tasty apple
tasty banana
tasty cherry
tasty mango

In [76]:
person = {"name": "John", "age": "30", "city": "New York", "gender": "Male"}
person_list = list(person.items())

In [78]:
person_list

[('name', 'John'), ('age', '30'), ('city', 'New York'), ('gender', 'Male')]

In [82]:
for each in person.items():
    print(each)

('name', 'John')
('age', '30')
('city', 'New York')
('gender', 'Male')

In [83]:
for key, value in person.items():
    print(key, value)

name John
age 30
city New York
gender Male

In [80]:
long_list = [tuple(range(1,5)) , tuple(range(5,9))]

In [81]:
long_list

[(1, 2, 3, 4), (5, 6, 7, 8)]

In [65]:
for a,b,c,d in long_list:
    print(a,b)
    print(c,d)

1 2
3 4
5 6
7 8

### Write a Program to Display the Multiplication Table of a Given Number:
Create a Python program that asks the user to enter an integer, and then prints the multiplication table for that number from 1 to 10. Use a for loop to generate and display the table.

In [6]:
i =1    
for j in range(1,11):
    print(f"{i} x {j} = {i*j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [16]:
sent = "the quick brown fox jumps over lazy dog"
unique_sent = set(sent)

for char in unique_sent:
    print(char)

p
m
u
i
a
z
t
v
n
f
g
b
j
l
q
c
s
r
d
h
k
y
o
e
x

w

In [17]:
num = list(range(1,51))

In [18]:
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [21]:
num[::4]

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49]

In [37]:
dd = {5:"apple",1:"ball"}
bb = {2:"apple",6:"ball"}

In [39]:
{**dd, **bb}

{5: 'apple', 1: 'ball', 2: 'apple', 6: 'ball'}

In [40]:
dd | bb

{5: 'apple', 1: 'ball', 2: 'apple', 6: 'ball'}

In [48]:
lis1 = ["ball","car"]

In [49]:
lis2 = lis1.copy()

In [50]:
lis2[0] = 33

In [51]:
lis2

[33, 'car']

In [52]:
lis1

['ball', 'car']

In [70]:
lis1 = []

In [74]:
if bool(lis1):
    for each in lis1:
        print(each)