# Python Sequence Types

The sequence type of python includes two data structures: list and tuple

## 1. List

In Python, lists are used to store a collection of items, which can be of any data type. Here's a brief overview of the Python list type:

### Defining Lists

You can define a list in Python using square brackets []. Here are some examples:

In [8]:
x = [1,2,3,4,5]

y = ["apple","orange"]

z = [1,"apple", True, 3.24, -7]

In [9]:
type(x)

list

In [10]:
print(z)

[1, 'apple', True, 3.24, -7]

### Accessing List Items

You can access individual items in a list using indexing. In Python, indexing starts at 0. Here are some examples:

In [13]:
z[-1]

-7

In [14]:
y[0]

'apple'

### Slicing Lists

You can access a range of items in a list using slicing. Slicing uses the syntax `start:stop:step`, where `start` is the index of the first item you want to include, `stop` is the index of the first item you want to exclude, and `step` is the number of items to skip. Here are some examples:

list[ start index : stop index : steps ]

In [31]:
numbers = list(range(10,30))

In [32]:
print(numbers)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [19]:
numbers[5:10]

[5, 6, 7, 8, 9]

In [37]:
numbers[2::2]

[12, 14, 16, 18, 20, 22, 24, 26, 28]

In [24]:
print(numbers[::3])

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [38]:
print(numbers[::-1])

[29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

### Modifying Lists

You can modify individual items in a list by assigning a new value to the index. You can also add or remove items from a list using built-in list methods. Here are some examples:

Docs : https://docs.python.org/3/tutorial/datastructures.html

In [67]:
x = ["apple", "ball", "cat", "dog", 14.13]

In [68]:
x[2] = "tiger" #<- replace at any given index

In [69]:
print(x)

['apple', 'ball', 'tiger', 'dog', 14.13]

In [70]:
x.append(66) # Adding items to list

In [71]:
print(x)

['apple', 'ball', 'tiger', 'dog', 14.13, 66]

In [72]:
x.insert(2,"cow") # Add an item at specific index

In [73]:
print(x)

['apple', 'ball', 'cow', 'tiger', 'dog', 14.13, 66]

In [74]:
x.remove("cow") # Removes the first occurrence of the specified item from the list

In [75]:
print(x)

['apple', 'ball', 'tiger', 'dog', 14.13, 66]

In [76]:
x.pop() # Removes and returns the item at the specified index

66

In [77]:
print(x)

['apple', 'ball', 'tiger', 'dog', 14.13]

In [78]:
x.clear()

In [79]:
print(x)

[]

### List Methods

Python provides a variety of built-in list methods that you can use to perform operations on lists. Some common list methods include `sort()`, `reverse()`, `count()`, and `index()`. Here are some examples:

In [105]:
mylist = [3,1,99,1,5,23,1]

In [106]:
mylist.sort(reverse=True) # Sorts the list in descending order

In [107]:
print(mylist)

[99, 23, 5, 3, 1, 1, 1]

In [108]:
mylist.count(1) # Returns the number of times the specified item appears in the list

3

In [109]:
mylist.reverse() # Reverses the order of the items in the list

In [110]:
print(mylist)

[1, 1, 1, 3, 5, 23, 99]

In [113]:
mylist.index(3) # Returns the index of the first occurrence of the specified item in the list

3

## 2. Tuple

In Python, a tuple is a collection of ordered, immutable objects. Once created, you cannot modify the contents of a tuple. Here is a tutorial on using tuples in Python:

### Creating a Tuple:
You can create a tuple by enclosing a sequence of objects in parentheses, separated by commas:

In [120]:
mytuple = (720,1280)

In [121]:
print(mytuple)

(720, 1280)

In [122]:
type(mytuple)

tuple

### Accessing Tuple Elements

You can access elements of a tuple using indexing, just like with a list:

In [123]:
mytuple[0]

720

In [124]:
mytuple[-1]

1280

### Slicing Tuples

You can slice a tuple using the same slicing syntax as a list:

In [128]:
longtuple = (1,2,3,4,5,6, 66,666)

In [129]:
longtuple[2::2]

(3, 5, 66)

### Modifying Tuples

####  Tuples are Immutable

Once created, you cannot modify the contents of a tuple. This means that you cannot add, remove, or change elements of a tuple. It raises `TypeError`.

In [131]:
longtuple[0] = 3

TypeError: 'tuple' object does not support item assignment

### Tuple Methods

Tuples are immutable in Python, which means that they cannot be modified once created. As a result, they have fewer methods compared to lists. However, there are a few built-in methods that can be used with tuples in Python. Some of the commonly used methods for tuples are `count()`, `index()`.

Syntax:

```
tuple.count(value)
tuple.index(value[, start[, end]])
```

The `start` and `end` parameters are optional and specify the range of the tuple to search in. If `value` is not found, a `ValueError` is raised.

In [1]:
my_tuple = (1, 2, 3, 2, 4, 2)

In [2]:
my_tuple.count(2) # Returns the number of occurrences of a specified element in a tuple

3

In [3]:
my_tuple.index(4) # Returns the index of the first occurrence of a specified element in a tuple

4

In [4]:
len(my_tuple)

6

In [6]:
min(my_tuple)

1

In [7]:
max(my_tuple)

4