# Python Loop Statements

In Python, loops are used to execute a block of code repeatedly. There are two types of loops in Python: for loops and while loops.

## 1. Python For Loop

The `for` loop is used in Python to iterate over a sequence of values, such as a list, tuple, string, or range. The basic syntax of a `for` loop is as follows:

Syntax:
```python
for item in items:
    do somethings
```

The `item` is a new variable that is created with each iteration of the loop, and takes on the value of the next element in the `items`. The code block that follows the `for` statement is executed for each value in the `items`.

Here's an example of how to use the `for` loop to iterate over a list:

In [1]:
fruits = ['apple','banana','cherry']

for each in fruits:
    print(each)

print("completed")

apple
banana
cherry
completed

The `range` function is commonly used in `for` loops to generate a sequence of integers. Here's an example:

In [2]:
list(range(0,5,2))

[0, 2, 4]

In [3]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
# *
# **
# ***
# ****
# *****

for i in range(1,6):
    print("x"*i)

x
xx
xxx
xxxx
xxxxx

`Nested for` loops can also be used to iterate over multiple sequences. Here's an example:

In [5]:
adjective = ['red','big','tasty']
fruits = ['apple','banana','cherry','mango']

In [6]:
for adj in adjective:

    for fruit in fruits:

        print(adj, fruit)

red apple
red banana
red cherry
red mango
big apple
big banana
big cherry
big mango
tasty apple
tasty banana
tasty cherry
tasty mango

In [7]:
person = {"name": "John", "age": "30", "city": "New York", "gender": "Male"}
person_list = list(person.items())

In [8]:
person_list

[('name', 'John'), ('age', '30'), ('city', 'New York'), ('gender', 'Male')]

In [9]:
for each in person.items():
    print(each)

('name', 'John')
('age', '30')
('city', 'New York')
('gender', 'Male')

In [10]:
for key, value in person.items():
    print(key, value)

name John
age 30
city New York
gender Male

In [11]:
long_list = [tuple(range(1,5)) , tuple(range(5,9))]

In [12]:
long_list

[(1, 2, 3, 4), (5, 6, 7, 8)]

In [13]:
for a,b,c,d in long_list:
    print(a,b)
    print(c,d)

1 2
3 4
5 6
7 8

### Write a Program to Display the Multiplication Table of a Given Number:
Create a Python program that asks the user to enter an integer, and then prints the multiplication table for that number from 1 to 10. Use a for loop to generate and display the table.

In [14]:
i =1    
for j in range(1,11):
    print(f"{i} x {j} = {i*j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [15]:
sent = "the quick brown fox jumps over lazy dog"
unique_sent = set(sent)

for char in unique_sent:
    print(char)

c

v
r
b
i
g
a
j
y
t
m
n
d
k
s
z
x
l
h
u
w
o
p
q
e
f

## 2. Python While Loop

The `while` loop is used in Python to repeat a block of code as long as a certain condition is true. The basic syntax of a while loop is as follows:

```python
while condition:
    do something
```

The `condition` is an expression that returns a boolean value (`True` or `False`). The code block that follows the `while` statement is executed repeatedly as long as the condition is `True`. If the condition is initially `False`, then the code block is skipped entirely.

Here's an example of how to use the while loop in Python:

In [16]:
i = 0

while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In this example, the `while` loop repeats the code block as long as `i` is less than `5`. The code block that follows the `while` statement (which is just a print statement and an increment statement in this case) is executed repeatedly as long as the condition is `True`.

It's important to be careful with `while` loops to avoid creating an infinite loop. If the condition is always `True`, then the loop will continue to run indefinitely. Here's an example of an infinite loop:

# i = 0

# while i < 5:
#     print(i)

**break statement**

If we want to terminate loops at certain point we can use `break` inside the loops (works for both `for` and `while` loops). Here's an example:

In [17]:
count = 0

while count < 10:
    print(count)
    count += 1
    if count == 5:
        break

0
1
2
3
4

**continue statement**

If we want to skips loops at certain point we can use `continue` inside the loops (works for both `for` and `while` loops). Here's an example:

In [18]:
fruits = ['apple','banana','cherry']

for each in fruits:
    if each == 'banana':
        continue
    print(each)

apple
cherry

## Write a Program to Calculate the Sum of the First N Natural Numbers:

In [20]:
%time

num = 5e5
total_sum = 0

i = 0
while i <= num:
    total_sum += i
    
    i += 1

print(f"Sum of {num} numbers is {total_sum}")

CPU times: user 1 μs, sys: 0 ns, total: 1 μs
Wall time: 2.62 μs
Sum of 500000.0 numbers is 125000250000

In [21]:
## Write a Program to Calculate the Product of the First N Natural Numbers:
num = 5
total_prod = 1

i = 1
while i <= num:
    total_prod *= i
    
    i += 1

print(f"Product of {num} numbers is {total_prod}")

Product of 5 numbers is 120

In [22]:
sum(range(1,6))

15

In [23]:
# Max value
max_value = 0

for each in [22,54,6,2,67,8,9,34]:
    if each > max_value:
        max_value = each
        
print(max_value)

67

In [24]:
max([22,54,6,2,67,8,9,34])

67