# Python Text Type

In Python, strings (`str`) are used to represent text data. Here's a brief overview of the Python string type.

## Defining strings

You can define a string in Python by enclosing the text in either single or double quotes. Here are some examples:

In [2]:
message = "Hello, World!"

In [4]:
print(message)

Hello, World!

In [5]:
type(message)

str

In [8]:
sent = """
    Today, I won't be able to attend the gala.
    something
    next Line
"""

In [11]:
type(sent)

str

In [18]:
a = float(str(66.666))
a

66.666

In [80]:
len(message)

13

## String methods

Python provides a variety of built-in string methods that you can use to perform operations on strings. Some common string methods include `lower()`, `upper()`, `strip()`, `replace()`, and `split()`. Here are some examples:

Docs : https://docs.python.org/3/library/stdtypes.html#string-methods

In [19]:
x = "        Hello, World        "

In [21]:
print(x)

        Hello, World

In [22]:
x.lower()

'        hello, world        '

In [23]:
x.upper()

'        HELLO, WORLD        '

In [29]:
x = x.strip()

In [30]:
x.replace('o', 'a')

'Hella, Warld'

In [33]:
x.split(",")

['Hello', ' World']

In [39]:
email = "student@gmail.com"

In [40]:
email.endswith("@gmail.com")

True

## String indexing

You can access individual characters in a string using indexing. In Python, indexing starts at 0. Here are some examples:

In [41]:
x = "Hello world"

In [42]:
x[0]

'H'

In [43]:
x[5]

' '

In [44]:
x[0:5]

'Hello'

In [48]:
x[:6]

'Hello '

In [49]:
x[6:]

'world'

In [55]:
x[-2:]

'ld'

## String slicing

You can also access a range of characters in a string using slicing. Slicing uses the syntax `start:stop:step`, where `start` is the index of the first character you want to include, `stop` is the index of the first character you want to exclude, and `step` is the number of characters to skip. Here are some examples:

x[start:stop:step]

In [51]:
x[0:5:2]

'Hlo'

In [56]:
x[::2]

'Hlowrd'

In [57]:
x[-5:-2:]

'wor'

In [60]:
name = "Shailesh"
name[::-1] # Reverse String

'hseliahS'

## String Formatting

You can use string formatting to insert variables or expressions into a string. There are several ways to format strings in Python, including using `%` operator, `.format()` and `f-strings`. Here are some examples:

In [61]:
name = "John"
age = 25

In [63]:
print("Your name is %s and you are %d years old." % (name,age)) # % Operator

Your name is John and you are 25 years old.

In [64]:
print("Your name is {} and you are {} years old.".format(name,age)) # format method

Your name is John and you are 25 years old.

In [67]:
print("Your name is {0} and you are {1} years old.".format(name,age)) # format method

Your name is John and you are 25 years old.

In [68]:
print(f"Your name is {name} and you are {age} years old.") #f-string

Your name is John and you are 25 years old.

## String concatenation

You can concatenate two or more strings using the + operator. Here are some examples:

In [69]:
x = "piece"
y ="of"
z = "coco"

In [72]:
x + " " + y + " " + z

'piece of coco'

In [73]:
concat = f"{x} {y} {z}"

In [75]:
concat

'piece of coco'

In [79]:
print("--"*20)

----------------------------------------